@import '~styles/core-variables.scss';
@import '~styles/core-mixins.scss';

@keyframes a7n-gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes move {
  from { transform: rotate(0deg) scale(18) translateX(-20px); }
  to { transform: rotate(360deg) scale(30) translateX(20px); }
}

@mixin dots($count) {
  opacity: .3;
  $text-shadow: ();
  @for $i from 0 through $count {
    $text-shadow: $text-shadow,
                 (-.5+(random()) * 3) + em
                 (-.5+(random()) * 3) + em
                 7px
                 hsla(random() * 360, 100%, 50%,.9);
  }
  text-shadow: $text-shadow;
}

.layout {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-snap-type: y proximity;
}

.layoutBackground {
  position: fixed; top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
  &__decor_1 {
    position: absolute; top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #303251, #0D0D0D, #3d5543);
    background-size: 200% 200%;
    animation: a7n-gradient 15s ease-out infinite;
    display: flex;
    z-index: -3;
  }
  &__decor_2 {
    display: block;
    font-size: 82px;
    &:before, &:after {
      position: absolute; top: 50%; left: 50%;
      width: 3em;
      height: 3em;
      mix-blend-mode: screen;
      animation: 44s -27s move infinite ease-in-out alternate;
      content: '.';
    }
    &:before {
      @include dots(40);
      animation-duration: 42s;
      animation-delay: -32s;
    }
    &:after {
      @include dots(40);
      animation-duration: 43s;
      animation-delay: -27s;
    }
  }
  &__decor_3 {
    @include bg-img('~public/img/screen-one-texture.png');
    position: absolute; top: 0; left: 0;
    width: 100%;
    height: 100%;
    display: flex;
  }
}

// TODO: consider using parallax in the future
.parallax {
  perspective: 2px;
  section {
    position: relative;
    min-height: 100vh;
    transform-style: preserve-3d;
    &.parallax::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateZ(-1px) scale(1.5);
      background-size: 100%;
      z-index: -1;
    }
  }
}

// Not used by now
@keyframes a7n-splash {
  0% { transform: scale(1); opacity: .4; }
  50% { transform: scale(.7); opacity: .1; }
  100% { transform: scale(1); opacity: .4; }
}

@mixin splash($duration: 10s) {
  animation: a7n-splash $duration infinite;
  position: absolute;
  z-index: -1;
  filter: blur(100px);
}
