@import '~styles/core-variables.scss';
@import '~styles/core-mixins.scss';

@keyframes cursor {
  0% { opacity: 0; }
  40% { opacity: 0; }
  50% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}

.screenOne {
  @include screen;
  min-height: 100vh;
  justify-content: center;
  position: relative;
  overflow: hidden;
  &__container {
    @include container;
    padding-bottom: 48px;
    max-width: 992px;
    display: flex;
    justify-content: center;
    z-index: 1;
    @include md {
      align-items: center;
      justify-content: flex-start;
    }
    @include lg {
      padding-bottom: 0;
    }
  }
}

.mainBlock {
  width: 100%;
  max-width: 500px;
  margin-top: 68px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include md {
    max-width: 800px;
    padding: 200px 0 100px;
    margin-top: 0;
    align-items: flex-start;
  }
  &__title {
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.01em;
    text-align: center;
    color: $white;
    &:after {
      content: '|';
      opacity: 1;
      animation: cursor 1s infinite;
    }
    @include md {
      font-size: 48px;
      line-height: 56px;
      text-align: start;
    }
    @include lg {
      font-size: 48px;
      line-height: 64px;
    }
    @include xl {
      font-size: 56px;
      line-height: 72px;
    }
  }
  &__subtitle {
    margin: 40px 0 50px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: $grey-1;
    @include md {
      margin: 24px 0 48px;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      text-align: start;
    }
    @include lg {
      font-weight: 400;
      font-size: 18px;
      line-height: 32px;
    }
  }
  &__buttonWrap {
    width: 100%;
    width: 160px;
    height: 48px;
    @include md {
      width: 160px;
    }
    @include lg {
      width: 170px;
      height: 64px;
    }
  }
}
