@import '~styles/core-variables.scss';
@import '~styles/core-mixins.scss';

.portfolio {
  width: 100%;
  min-height: 100vh;
  scroll-snap-align: end;
  display: flex;
  justify-content: center;
  background-color: #d7d7d7;
  &__container {
    width: 100%;
    max-width: 1200px;
    padding: 40px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include md {
      padding: 80px 24px;
    }
    @include xl {
      padding: 100px 24px;
    }
  }
  &__subtitle {
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: $grey-4;
    text-transform: uppercase;
    @include md {
      font-size: 14px;
      line-height: 24px;
    }
    @include lg {
      font-size: 16px;
      line-height: 28px;
    }
  }
  &__title {
    width: 100%;
    margin: 8px 0 32px;
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    color: $black;
    @include md {
      margin: 8px 0 48px;
      font-size: 32px;
      line-height: 48px;
    }
    @include lg {
      font-size: 40px;
      line-height: 56px;
    }
    @include xl {
      font-size: 48px;
      line-height: 64px;
    }
  }
  &__buttonContainer {
    width: 148px;
    height: 52px;
    position: relative;
    @include lg {
      width: 188px;
      height: 65px;
    }
  }
  &__buttonPlaceholder {
    position: absolute; top: 50%;
    transform: translateY(-50%);
    text-align: center;
  }
  &__projectItem {
    position: relative;
    &:before {
      width: 100%;
      height: 100%;
      z-index: 1;
      content: '';
    }
  }
}

.visible {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  transition: opacity .3s, transform 1s;
}

.hidden {
  transform: translateY(100%);
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, transform 1s;
}
