// z-index
$z-header: 100;

// dimensions
$desktopHeaderHeight: 100px;
$mobileHeaderHeight: 64px;

// colors
$white: #fff;
$black: #101010;
$green: #C0EF3A;
$blue: #1A91FF;

$grey-1: #E8E8E8;
$grey-2: #F1F1F1;
$grey-3: #CECECE;
$grey-4: #AFAFAF;
$grey-5: #4B4B4B;
$grey-6: #2E2E2E;
$grey-7: #0F0F0F;
