@import '~styles/core-variables.scss';
@import '~styles/core-mixins.scss';

.screenTwo {
  @include screen;
  @include bg-img('~public/img/texture-bg.png');
  &__container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    @include md {
      flex-direction: row;
    }
  }
}

.myImage {
  @include bg-img('~public/img/screen-two-my-photo.png');
  min-height: 500px;
  display: flex;
  align-items: stretch;
  @include md {
    min-height: auto;
    min-width: 476px;
    margin-right: 24px;
  }
  @include lg {
    margin-right: 48px;
  }
  @include xl {
    min-width: 648px;
    margin-right: 64px;
  }
  @include xxl {
    width: 820px;
    margin-right: 156px;
  }
}

.mainBlock {
  width: 100%;
  padding: $mobileHeaderHeight 16px 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  @include md {
    max-width: 600px;
    padding: $mobileHeaderHeight 24px 24px 0;
  }
  @include xl {
    padding: $mobileHeaderHeight 24px 72px 0;
  }
  &__title {
    margin: 8px 0 16px;
    font-size: 28px;
    line-height: 40px;
    font-weight: 600;
    letter-spacing: 0.01em;
    color: $black;
    @include md {
      font-size: 32px;
      line-height: 48px;
    }
    @include lg {
      font-size: 40px;
      line-height: 64px;
    }
    @include xl {
      margin: 8px 0 32px;
      font-size: 48px;
      line-height: 64px;
    }
  }
  &__subtitle {
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: $grey-4;
    text-transform: uppercase;
    @include md {
      font-size: 14px;
      line-height: 24px;
    }
    @include lg {
      font-size: 16px;
      line-height: 28px;
    }
  }
  &__desc {
    margin-bottom: 24px;
    padding: 0 0 24px;
    border-bottom: 1px solid $grey-3;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $grey-5;
    @include lg {
      font-size: 16px;
      line-height: 28px;
    }
    @include xl {
      margin-bottom: 32px;
      padding: 0 0 48px;
    }
  }
  &__myInfo {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    @include lg {
      margin-bottom: 16px;
      font-size: 16px;
    }
    b {
      font-weight: 600;
      margin-right: 8px;
    }
    &_email {
      p {
        display: inline-flex;
        position: relative;
        color: $blue;
        cursor: pointer;
        &:hover {
          .mainBlock__myInfo_copyIcon {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
    &_copyIcon {
      position: absolute; right: -20px; top: 50%;
      width: 16px;
      height: 16px;
      transform: translateY(-50%);
      opacity: 0;
      visibility: hidden;
      transition: .3s;
      display: flex;
      flex-shrink: 0;
    }
  }
  &__buttonWrap {
    width: 148px;
    height: 52px;
    margin-right: 12px;
    @include md {
      margin-right: 16px;
    }
    @include lg {
      width: 164px;
      height: 64px;
    }
  }
  &__controls {
    margin-top: 24px;
    display: flex;
    @include lg {
      margin-top: 32px;
    }
    @include xl {
      margin-top: 64px;
    }
  }
}
